.all
  #top
    img.topbar(src="http://creativecommons.tw/sites/creativecommons.tw/files/logo_0.png")    
    ul.topbar
      li.button 關於我們
      li.button 創用CC授權
      li.button 公眾領域
      li.button 新知消息
      li.button 特別企劃
     
  .left.box
    h1 微型投資自營模式：以Spot.Us新聞報導媒合平台為例
    h3 2010-04-14
    h2 周文茵
    img(src="http://creativecommons.tw/sites/creativecommons.tw/files/spot.us.jpg")
    
    .use 
    p 你覺得地方上有些值得調查或者應該報導的主題，卻總是被主流報導所忽略？你想做一番值得深究的專題，卻苦於無經費支持？你想要做些具有深度的報導，卻無力再聘請更多人力？你認為新聞報導的價值不該只限於該完成品，更重要的在於它的製作與散佈的過程…
    p 那麼，導入類似微型投資概念，目前仍以舊金山與洛杉磯為經營主力的
       a#spot(href='https://en.wikipedia.org/wiki/Spot.us') Spot.Us
       span ，將提供我們一個不一樣的想像。這個2008年開始的非營利實驗計畫，透過平台聚結整合讀者、報導者、報社組織的需求與資源，而藉由平台的自營設計，讓大眾可以透過自己的力量找回在地新聞的生命力。
    .title.a Spot.Us的做法
    .use
      p 你若想提供一些故事的發想點、應該研究調查的主題、值得關心的議題、重要且被忽略的專題，可以透過簡單的註冊成為平台社群的成員，將想法丟出。
      p 而或許來自這些發想的啟發，成員中有興趣的自由作家，即可在平台上建立主題攤位（The Pitch），開啟募款的歷程。主題攤位的開設需說明此攤位的主題為何？為何此主題值得受到關注？自己為何是執行報導的不二人選？把自己構想的方案、時程以及欲呈現的形式陳述出來。
      p 透過預先保證捐獻的設計模式（pledge donations），所有成員皆可利用PayPal參與捐款支持有興趣的主題攤位。當攤位募款達到80％，發起主題的自由作家就要開始針對於主題進行大綱規劃。一旦達到募款目標值，自由作家就開始進行整個作業，生產這個主題內容，而所有捐款人也在此時才會進行扣款。所有認捐者都可以透過平台的設定，準確掌握此主題完成公布的時程。
      p 其中，特別獨立出來的認捐角色是報社組織，這需要透過個別的申請處理。唯有取得這個帳號身份，才可以在Spot.Us認捐主題攤位募款超過20％的金額。若報社組織認捐達到50％，則可獲得「第一次發佈」的權利。倘若報社希望這個主題能夠盡早完成，甚至可以在任何時候認捐100%的款項，啟動報導作業進行；在此同時，所有額外的認捐金額則會退回原認捐的社群成員，讓他們可以在平台系統裡轉而支持其它的主題攤位。
      p 所有完成的報導，Spot.Us要求以創用CC姓名標示授權條款3.0版方式釋出，免費供大眾利用，因此無須註冊，大眾即可閱讀已完成的報導。Spot.Us更肩負盡可能讓完成的報導在各管道曝光的責任。讀者可以透過平台的紀錄，瞭解故事報導的發想、歷程與支持者和募款狀況。
    .title.b 以民為本的微型經濟
    .use
      p 平台透過機制設計，導入微型投資概念，媒合了關心議題的讀者、報導者、報社與金源，讓具有深度的在地新聞報導，得以被關注並且產出。也引進公眾授權概念，不採取壟斷/控制新聞報導內容的方式，讓新聞報導廣為週知的核心價值不被抹滅。而與報社的商業互動關係，則著眼在「第一次發佈權」的交涉，抓住新聞報社「即時/獨家」的關鍵需求。
      p 把價格訂定的主導權還諸於民，是網路微型經  濟的關鍵思考。透過這種民主的方式，讓消費者能夠得到他真正想要/需要的產品，這概念也開始應用推演於各種產業。不過，在這個例子上，仍有些待思考的議題。
    .title.c 仍有待探討的議題
    .use
      p 如何確保觀點的獨立性：新聞報導重要的是切入的角度與呈現的觀點。是否會因為投資者異，而影響到觀點呈現的獨立性，甚至出現置入性行銷的問題，都是有待觀察的。
      p 如何穩定品質：目前Spot.Us有規劃 The Peer-Review Editor ，必須要獲得的審核，新聞報導完成後，才能正式發佈。審核員來自Spot.Us指派以及合作的報社所提供，一般新聞工作者也可以提報自己成為該報導的審核員。然而，審核員的選任，似乎欠缺一個透明的標準，若有見解分歧時，恐怕難以服眾。而審核員是需要負擔責任與付出時間，卻沒有清楚的回饋機制，有可能因為沒有誘因，而無法讓此機制發揮預期作用。
      p 如何訂定合理的價格？目前Spot.Us依據新聞報導所需要的時間，將報導分成 Investigative Report、Enterprise Report、Beat Report、Quick Hit 四種類型，以每小10-25美金來估算。然而，如何估算出所謂合理工時？時薪該如何計價，才算合理？都是必須思考的問題。
      p 無論如何，這個模式似乎獲得不錯的迴響，未來也希望拓展服務區域，你也可以上Spot.Us建議希望辦理的城市；或者導入到自己的產業領域，實驗一番～

  .right.box
    h3.ad 廣告贊助
    img.flower(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/14370230_1769031106689509_8597394084911677918_n.jpg?oh=fb01ee25e0c9253ca3a16dc8e31e4506&oe=5972D03D")
  .bottom
    button.button#small 字縮小
    button.button#medium 回到原設定
    button.button#big 字放大
    button.button#backtotop 回到最上方
    hr
    #relative 相關文章
    br
    li.one OPEN的力量：新聞傳播
    li.tow OPEN的力量：分享報導作新聞
    
